$darkCyan: hsl(185, 75%, 39%);
$veryDarkBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $darkCyan;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}
body {
  display: block;
  min-height: 100vh;
  margin: 0;
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 60vw bottom 50vh, left 60vw top 50vh;
  
}

img,
picture {
  max-width: 100%;
  display: block;
}

.Container {
  margin: 0 auto;
  padding: 5rem 1rem;
  min-width: 330px;
  max-width: 400px;
  text-align: center;
}

.Top img{
  border-radius: 0.9rem 0.9rem 0 0;
}

.White {
  background-color: white;
}

.Middle {
  border-bottom: 1px solid lightgray;
}

.Avatar {
  display:inline-block;
  margin-top: -3rem;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

.Middle h1 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
}

.Middle span {
  margin-left: 5px;
  color: $darkGrayishBlue;
  font-weight: 400;
}

.Middle h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: $darkGrayishBlue;
  font-weight: 400;
}

.Bottom {
  padding: 2rem 1rem;
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 0.9rem 0.9rem;
}


.Numbers {
  font-size: 24px;
}

.Stats {
  font-size: 14px;
  letter-spacing: 0.1rem;
  color: $darkGrayishBlue;
}


// .Card {
//   text-align: center;
// }

// .CoverImage img {
//   margin: 0 auto;
//   width: 100%;
//   height: 100%;
//   border-radius: 0.6rem 0.6rem 0 0;
// }

// .White {
//   background-color: white;
// }

// .Bio {
// }

// .ProfilePhoto img {
//   margin-top: -1rem;
//   border-radius:50%;
// }

// .ProfilePhoto {
  
// }








.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}